<%- include('../featured.ejs') %>

<%- include('../pricing.ejs') %>


        <div class="space-y-4 w-3/5">
            <h1 class="text-5xl font-medium">Welcome,admin</h1>
            <h2 class="text-3xl font-medium">Youradmin@gmail.com</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, corrupti magnam omnis perferendis voluptatibus, fugiat et obcaecati minima tempora eos ad blanditiis corporis doloribus accusamus voluptates quisquam numquam dolores! Incidunt? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima, veniam.</p>
        </div>

<%- include('../explore.ejs') %>