<script src="https://cdn.tailwindcss.com"></script>
<div class="flex my-14 justify-evenly flex-wrap h-screen">
    

    <div>
        <ul class="flex flex-col space-y-1 w-72 text-lg">
            <a href="/admin/dashboard" class="bg-[#e5e7eb8a] p-2 hover:bg-black hover:text-white">Dashboard</a>
            <a href="/admin/blogdisplay" class="bg-[#e5e7eb8a] p-2 hover:bg-black hover:text-white">Blogs</a>
            <a href="/admin/categorydisplay" class="bg-[#e5e7eb8a] p-2 hover:bg-black hover:text-white">Categories</a>
            <a href="/admin/contactdisplay" class="bg-[#e5e7eb8a] p-2 hover:bg-black hover:text-white">Contact</a>
            <a href="/admin/aboutdisplay" class="bg-[#e5e7eb8a] p-2 hover:bg-black hover:text-white">About</a>
            <a href="/logout" class="bg-[#e5e7eb8a] p-2 hover:bg-black hover:text-white">Logout</a>
        </ul>
    </div>